/* Add your custom styles here */
.container {
    max-width: 700px;
    margin: 0 auto;
	padding:30px;
    text-align: center;
	border:2px solid black;
	border-radius:15px;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.code {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Highlight the focused input */
.code:focus {
    border-color: #007bff;
}
